/* Базовые стили для контейнера переключателя */
.switch {
    position: relative;
    display: inline-block;
    width: 60px; /* Ширина переключателя */
    height: 34px; /* Высота переключателя */
}

/* Скрываем стандартный чекбокс */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Стили для ползунка */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Цвет фона выключенного состояния */
    transition: 0.4s; /* Плавный переход */
    border-radius: 34px; /* Закругленные углы */
    &:before {
        position: absolute;
        content: "";
        height: 26px; /* Высота бегунка */
        width: 26px; /* Ширина бегунка */
        left: 4px; /* Отступ слева */
        bottom: 4px; /* Отступ снизу */
        background-color: white; /* Цвет бегунка */
        transition: 0.4s; /* Плавный переход */
        border-radius: 50%; /* Круглая форма */
    }
}

/* Изменение цвета фона при включении */
input:checked + .slider {
    background-color: #4b4b4b; /* Цвет фона включенного состояния */
}

/* Сдвиг бегунка при включении */
input:checked + .slider:before {
    transform: translateX(26px); /* Сдвиг вправо */
}